body[data-theme="dark"] {  

   @import '../src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #8C8C8C;
   }

   .title-styles {
      color: white;
   }

   .header-icon {
      color: white;
   }

   .select-icons {
      margin-top: 50px;
      padding: 5px;
      height: 50px;
      width: 50px;
      margin-left: 5px;
	   margin-right: 5px;
      border: 2px solid;
      border-radius: 100%;
      color: white;
      transition: all .2s ease-in-out !important; 
   }
    
    .select-icons:hover {
      transform: scale(1.1) !important;
      color: white;
      box-shadow: 0 0 10px white;
      text-shadow: 0 0 10px white;
    }

   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }

   #tsparticles > canvas {
      background: linear-gradient(to right, #3256a8, #1d86bf);
   }

   header {
      h1 {
         color: white;
      }
   }

   .modal-inside .modal-content {
      background: #5b5b5b;
      color: white;
   }

   .close-icon {
      color: white;
   }
}